{% extends "layout.html" %}
{% block content %}
<!--ABOUT SECTION BELOW-->
    <!-- Page Banner -->
    <div class="page-banner"> <img src="{{ url_for ('static', filename='./images/products/Rolex banner.png') }}" alt="about-page"/>
      <h1 class="about-header">"Time is a Gift Worth Wearing"</h1>
    </div>
    <!-- Page Banner /- -->
    <!-- About section -->
    <div id="about-section" class="about-section bottom-shadow">
      <!-- Container -->
      <div class="container">
        <div class="section-header">
          <h3>Our Strategy</h3>
        </div>
        <h4>Our core purpose is to enrich lives, making a positive difference to our customers, our colleagues and our communities.</h4>
        <h4>We’ve been privileged to be part of our customers’ most treasured moments.</h4>
        <h4>And these moments are why we adore what we do – making a positive difference to the world we live in.</h4>
        <h4>We believe time is a gift worth wearing.</h4>
      </div>
      <!-- Container /- -->
    </div>
    <!-- About section /- -->
	
	{% endblock %}