{% extends "layout.html" %}
{% set active_page = "brands" %}
{% block content %}
	<!-- Page Breadcrumb -->
	<!-- container -->
	<div class="container">
		<div class="page-breadcrumb">
			<ol class="breadcrumb">
				<li><a title="Home" href="{{url_for('home')}}">Home</a></li>
				<li><a title="Watch Brands" href="{{url_for('brands')}}">Watch Brands</a></li>
				<li class="active">{{watch_brand}}</li>
			</ol>
			<div class="return-home-link pull-right">
				<a title="Return to home page" href="{{url_for('home')}}">return to home page</a>
			</div>
		</div>
		<div class="page-header ow-bottom-padding categories">
            <h3>{{watch_brand}}</h3>
            <br><br><br>
		</div><!-- Section Header /- -->
	</div><!-- container /- -->
	<!-- Page Breadcrumb /- -->

	<!-- Product Filter -->
	
	<!-- Product Filter /- -->
    


	<!-- Feature Product -->
	<div id="featured-products" class="featured-products bottom-shadow">
		<!-- container -->
		<div class="container">
			<div class="category-box-main product-box-main">
				{% for watch in watches %}
				<div class="col-md-3 col-sm-6 col-xs-6 main-product">
					<div class="category-box product-box">
						{% if watch.sale == 1 %}
						<span class="sale">sale</span>
						{% endif %}
						<a href="{{ url_for('product', watch_id= watch.product_id, watch_brand=watch.brand_name)}}">
						<div class="inner-product">
							<!-- <img src="/static/images/products/{{ watch.brand_name }}/{{ watch.product_id }}/thumb.svg" height='292px' width='292px' alt="{{ watch.name }}"/> -->
						
							<img src="/static/images/products/{{ watch.brand_name }}/{{ watch.product_id }}/thumb.svg" height='292px' width='292px' alt="{{ watch.name }}"/>
					
							<!-- <div class="product-box-inner">
								<ul>
									<li><a title="{{ watch.thumb_name }}" href="/static/images/products/{{ watch.brand_name }}/{{ watch.product_id }}/thumb.png"><i class="fa fa-eye"></i></a></li>
								</ul>
							</div> -->
						</div>
						</a>
					</div>
					<!-- {#<a title="{{ watch.name }}" href="{{ url_for('product', product_id = watch.product_id ) }}" class="product-title">{{ watch.thumb_name }}</a> =#}-->
					<a title="{{ watch.name }}" href="{{ url_for('product', watch_id= watch.product_id, watch_brand=watch.brand_name)}}" class="product-title">{{ watch.thumb_name }}</a>

					{% if watch.sale == 1 %}
					<span class="amount"><del>&pound;{{ watch.price | currencyFormat }}</del> &pound;{{ watch.discount_price | currencyFormat }}</span>
					{% else %}
					<span class="amount">&pound;{{ watch.price | currencyFormat }}</span>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
		<!-- container /- -->	
	</div>
{% endblock %}