{% extends "layout.html" %}
{% block content %}
<!-- Page Breadcrumb -->
	<!-- container -->
	<div class="container">
		<div class="page-breadcrumb">
			<ol class="breadcrumb">
				<li><a title="Home" href="{{ url_for('home') }}">Home</a></li>
				<li class="active">Contact us</li>
			</ol>
			<div class="return-home-link pull-right">
				<a title="Return Home Page" href="{{ url_for('home') }}">return to home page</a>
			</div>
		</div>
		<div class="page-header bottom-shadow">
			<h3>Contact us</h3>
			<p> Get in Touch</p>
		</div><!-- Section Header /- -->
	</div><!-- container /- -->
	<!-- Page Breadcrumb /- -->
	
	<!-- contact-form-details -->
	<div class="contact-form-details">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<!-- Contact Form -->
					<div class="contact-form">
						<form class="form-horizontal ">
							<div class="form-group">
								<label for="name" class="col-md-4">Your Name</label>
								<div class="col-md-8">
									<input type="text" class="form-control"  id="name" placeholder="enter your name" required />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4">Email</label>
								<div class="col-md-8">
									<input type="email" class="form-control" id="txt_email" placeholder="enter your email" required />
								</div>
							</div>
							<div class="form-group">
								<label for="phonenumber" class="col-md-4">Phone Number</label>
								<div class="col-md-8">
									<input type="text" class="form-control" id="phonenumber" placeholder="enter your contact no.">
								</div>
							</div>
							<div class="form-group">
								<label for="comment" class="col-md-4">Your Comment</label>
								<div class="col-md-8">
									<textarea class="form-control" id="comment" rows="2"></textarea>
								</div>
							</div>
							<div class="drop-line bottom-shadow"></div>
							<div class="form-group">
								<a title="Back to Shop" href="{{ url_for('home')}}" class="pull-left">Back to Shop</a>	
								<input type="submit" value="submit" class="btn btn-default  pull-right">
							</div>
						</form>
					</div><!-- Contact Form /- -->
				</div>
			</div><!-- Row /- -->
		</div><!-- container /- -->
	</div>
	<br><!-- contact-form-details /- -->
	
{% endblock %}