{% extends "layout.html" %}
{% set active_page = "contact" %}
{% block content %}
<!-- Page Breadcrumb -->
	<!-- container -->
	<div class="container">
		<div class="page-breadcrumb">
			<ol class="breadcrumb">
				<li><a title="Home" href="{{ url_for('home') }}">Home</a></li>
				<li class="active">Contact us</li>
			</ol>
			<div class="return-home-link pull-right">
				<a title="Return Home Page" href="{{ url_for('home') }}">return to home page</a>
			</div>
		</div>
		<div class="page-header bottom-shadow">
			<h3>Contact us</h3>
			{% if watch_name %}
			<p>To place an order or make an enquiry about <span style="color:black">{{watch_brand}} {{watch_name}}</span>, fill the form below <br> Or email <a href="mailto:enquiries@watchsmiths.co.uk?subject=Enquiry:%20{{watch_brand}}%20{{watch_name}}">enquiries@watchsmiths.co.uk</a> <br>Once we receive your email you will get a confirmation email and we will get back to you soon</p>
			{% else %}
			<p> Get in Touch <br> Fill the form below or email <a href="mailto:enquiries@watchsmiths.co.uk?subject=Enquiry:%20{{watch_brand}}%20{{watch_name}}">enquiries@watchsmiths.co.uk</a> <br>Once we receive your email you will get a confirmation email and we will get back to you soon</p></p>
			{% endif %}
		</div><!-- Section Header /- -->
	</div><!-- container /- -->
	<!-- Page Breadcrumb /- -->
	
	<!-- contact-form-details -->
	<div class="contact-form-details">
		{% include "_messages.html" %}
		{% if success %}
		<div class="alert alert-success" style="text-align: center;" role="alert">
			Thanks for getting in touch, we will get back to you shortly
		</div>
		{% endif %}
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-12">
					<!-- Contact Form -->
					<div class="contact-form">
						<form class="form-horizontal">
							{{ form.hidden_tag() }}
							<div class="form-group">
								<div class="col-md-12">
									{{ form.yourname.label (class="col-md-4") }}
									{{ form.yourname(required='DataRequired', class="form-control col-md-8", id='name', placeholder='Enter Your Name') }}
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									{{ form.email.label (class="col-md-4")}}
									{{ form.email(required='DataRequired', class="form-control col-md-8", id='txt_email', placeholder='Enter Your Email') }}
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									{{ form.subject.label (class="col-md-4")}}
									{{ form.subject(class="form-control col-md-8", id='subject', placeholder='Enter your Subject') }}
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									{{ form.description.label (class="col-md-6") }}
									{{ form.description(class="form-control", id='comment', placeholder='Enter Your Query Here') }}
								</div>
							</div>
							<div class="drop-line bottom-shadow"></div>
							<div class="form-group">
								<a title="Back to Shop" href="{{ url_for('brands')}}" class="pull-left">Back to Shop</a>
								{{ form.submit(class="btn btn-default pull-right") }}	
							</div>
						</form>
					</div><!-- Contact Form /- -->
				</div>
			</div><!-- Row /- -->
		</div><!-- container /- -->
	</div>
	<br><!-- contact-form-details /- -->
	
{% endblock %}