{% extends "layout.html" %}
{% set active_page = "brands" %}
{% block content %}
<!-- Page Breadcrumb -->
	<!-- container -->
	<div class="container">
		<div class="page-breadcrumb">
			<ol class="breadcrumb">
				<li><a title="Home" href="{{ url_for('home') }}">Home</a></li>
				<li><a title="Watches" href="{{ url_for('brands') }}">Watch Brands</a></li>
				<li class="active"><a style="color: #b3aa9b;" href="{{ url_for('watchbrand', watch_brand = watch_brand) }}">{{ watch_brand }}</a></li>
			</ol>
			<div class="return-home-link pull-right">
				<a title="Return to home page" href="{{ url_for('home') }}">return to home page</a>
			</div>
		</div>
	</div><!-- container /- -->
	<!-- Page Breadcrumb /- -->
	
	<!-- Single Product -->
	<div id="single-product" class="single-product">
		<!-- Container -->
		<div class="container">
			<div class="row">
				<!-- col-md-7 -->
				<div class="col-md-7">
					<div class="large-product">
						<div id="about-carousel" class="col-md-3 col-sm-3 col-xs-3 flexslider product-thumb no-padding" style="max-height: 535px; overflow: hidden;">	
                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                <ul class="slides" style="width: 602%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
									{#<!-- {% for thmb in thumbs %}
										<li style="width: 126px; float: left; display: block;">
											<img src="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/{{ thmb }}.jpg" alt="product-thumb" draggable="false">
										</li>
									{% endfor %} -->#}
									<li class="flex-active-slide" style="width: 126px; float: left; display: block;">
                                        <img src="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PT1.jpg" alt="product-thumb" draggable="false">
                                    </li>
                                    <li style="width: 126px; float: left; display: block;">
                                        <img src="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PT2.jpg" alt="product-thumb" draggable="false">
                                    </li>
                                    <li style="width: 126px; float: left; display: block;">
                                        <img src="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PT3.jpg" alt="product-thumb" draggable="false">
									</li>		
									<li style="width: 126px; float: left; display: block;">
                                        <img src="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PT4.jpg" alt="product-thumb" draggable="false">
									</li>
									<li style="width: 126px; float: left; display: block;">
                                        <img src="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PT5.jpg" alt="product-thumb" draggable="false">
									</li>
									<li style="width: 126px; float: left; display: block;">
                                        <img src="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PT6.jpg" alt="product-thumb" draggable="false">
                                    </li>						
                                </ul>
                            </div>
                            <ul class="flex-direction-nav">
                                <li class="flex-nav-prev">
                                    <a class="flex-prev flex-disabled" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="flex-nav-next">
                                    <a class="flex-next" href="#">Next</a>
                                </li>
                            </ul>
                        </div>
						<div id="about-slider" class="flexslider col-md-9 col-sm-9 col-xs-9 product-slider">
							<ul class="slides">
								{#<!-- {% for image in thumbs %}
										<li style="width: 126px; float: left; display: block;">
											<img src="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/{{ image }}.jpg" alt="product-thumb" draggable="false">
										</li>	
								{% endfor %} -->#}
								
								<li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
									<a href="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PL1.jpg"><img src="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PL1.jpg" alt="product-thumb" draggable="false"></a> 
								</li>
								<li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
									<a href="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PL2.jpg"><img src="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PL2.jpg" alt="product-thumb" draggable="false"></a> 
								</li>
								<li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
									<a href="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PL3.jpg"><img src="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PL3.jpg" alt="product-thumb" draggable="false"></a> 
								</li>
								<li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
									<a href="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PL4.jpg"><img src="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PL4.jpg" alt="product-thumb" draggable="false"></a> 
								</li>
								<li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
									<a href="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PL5.jpg"><img src="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PL5.jpg" alt="product-thumb" draggable="false"></a> 
								</li>
								<li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
									<a href="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PL6.jpg"><img src="/static/images/products/watch/{{ watch_brand }}/{{ watch.product_id }}/PL6.jpg" alt="product-thumb" draggable="false"></a> 
								</li>
							</ul>
						</div>
					</div>
					<!-- Section Header /- -->
					<!-- Section Header /- -->
					<div class="category-box-main product-box-main">
						<div class="drop-line bottom-shadow"></div>
					</div>
				</div><!-- col-md-7 /- -->
				
				<!-- col-md-5 -->
				<div class="col-md-5 col-xs-12 single-product-sidebar">
					<div class="page-header">
						<h3>{{ watch.brand_name }} {{ watch.name }}</h3>
					</div>
                    <br>
					<br>
					{% autoescape false %} 
					<p>{{ watch.description | replace("\n", "<br>") }}</p>
					{% endautoescape %}
					<ul class="single-side-widget top-social ow-left-padding">
						<li>
							<img style='height: 40px' src="{{ url_for('static', filename='images/cart/rolex-icon.svg') }}" alt="Rolex">
						</li>
						
					</ul>
					<aside class="widget widget_recent_post"style="padding-top: 0px;">						
						<div role="tabpanel">
							<!-- Nav tabs -->
							<!-- Tab panes -->
							<div class="tab-content">
								<div id="pricing" class="tab-pane active" role="tabpanel">
									<div class="shopping-cart-table">
										<table>
											<tbody>
												
												<tr class="cart-subtotal">
													<th>Product Price</th>
													{% if watch.sale == 1 %}
													<td><span class="amount"><del>&pound;{{ watch.price | currencyFormat }}</del></span></td>
													<td><span class="amount">&pound;{{ watch.discount_price | currencyFormat }}</span></td>
													{% else %}
													<td><span class="amount">&pound;{{ watch.price | currencyFormat }}</span></td>
													{% endif %}
												</tr>
												<!-- <tr class="cart-subtotal">
													<th>Product Quantity</th>
													<td>
														<select class="minimal">
															<option>01</option>
															<option>02</option>
															<option>03</option>
														</select>
													</td>
												</tr> -->
												<tr class="order-total">
													<th>Total Price</th>
													{% if watch.sale == 1 %}
													<td><strong><span class="total-amount">&pound;{{ watch.discount_price | currencyFormat }}</span></strong></td>
													<span class="sale">SALE</span>
													{% else %}
													<td><strong><span class="total-amount">&pound;{{ watch.price | currencyFormat }}</span></strong></td>
													{% endif %}
												</tr>
											</tbody>
										</table>
										<ul>
											<li><a title="Enquiries" href="{{ url_for('contacter', watch_name=watch.name, watch_brand=watch_brand) }}">Enquire</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</aside>
				</div>
				<!-- col-md-5 /- -->
			</div>
		</div><!-- Container /- -->
	</div>
	<!-- Single Product /- -->
{% endblock %}