{% extends "layout.html" %}
{% set active_page = "sellwatch" %}
{% block content %}
<!-- Page Breadcrumb -->
	<!-- container -->
	<div class="container">
		<div class="page-breadcrumb">
			<ol class="breadcrumb">
				<li><a title="Home" href="{{ url_for('home') }}">Home</a></li>
				<li class="active">Sell Your Watch</li>
			</ol>
			<div class="return-home-link pull-right">
				<a title="Return Home Page" href="{{ url_for('home') }}">return to home page</a>
			</div>
		</div>
		<div class="page-header bottom-shadow">
			<h3>Sell Your Watch</h3>
			<p>Leave your details below and we'll get back to you</p>
		</div><!-- Section Header /- -->
	</div><!-- container /- -->
	<!-- Page Breadcrumb /- -->
	
	<!-- contact-form-details -->
	<div class="contact-form-details">
		{% include "_messages.html" %}
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12">
					<!-- Contact Form -->
					<div class="contact-form">
						<form class="form-horizontal" method="POST">
							{{ form.hidden_tag() }}
							<div class="form-group">
								<div class="col-md-6">
									{{ form.yourname.label (class="col-md-6") }}
									{{ form.yourname(required='DataRequired', class="form-control", id='name', placeholder='Enter Your Name') }}
								</div>
								<div class="col-md-6">
									{{ form.email.label (class="col-md-6")}}
									{{ form.email(required='DataRequired', class="form-control", id='txt_email', placeholder='Enter Your Email') }}
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-6">
									{{ form.brand.label (class="col-md-6") }}
									{{ form.brand(class="form-control", required='DataRequired', placeholder='Enter The Brand Name') }}
								</div>
								<div class="col-md-6">
									{{ form.model.label (class="col-md-12") }}
									{{ form.model(class="form-control", required='DataRequired', placeholder='Enter The Model Name') }}
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-4">
									{{ form.age.label (class="col-md-6") }}
									{{ form.age(class="form-control", required='DataRequired', placeholder='Enter The Age In Years') }}
								</div>
								<div class="col-md-4">
									{{ form.box.label (class="col-md-4") }}
									{{ form.box(class="form-control", required='DataRequired')}}
								</div>
								<div class="col-md-4">
									{{ form.papers.label (class="col-md-4") }}
									{{ form.papers(class="form-control", required='DataRequired')}}
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									{{ form.description.label (class="col-md-4") }}
									{{ form.description(class="form-control", id='comment', placeholder='Enter a Brief Description of The Item') }}
								</div>
							</div>
							<div class="drop-line bottom-shadow"></div>
							<div class="form-group">
								<a title="Back to Shop" href="{{ url_for('brands')}}" class="pull-left">Back to Shop</a>
								{{ form.submit(class="btn btn-default  pull-right") }}
							</div>
						</form>
					</div><!-- Contact Form /- -->
				</div>
			</div><!-- Row /- -->
		</div><!-- container /- -->
	</div>
	<br>
	<br><!-- contact-form-details /- -->
   
{% endblock %}