{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="page-header bottom-shadow">
        <h3>Shopping Policies</h3>
        <p>
            Your shopping is important to us. 
        </p>
    </div>
    
    <h3> Refunds & Returns</h3>
    <br>
    <h4>Refunds</h4>
       <p>
            We offer a refund policy of up to 14 days from the date of purchase.
            Upon receiving a refund request; your item will first be inspected by our experts and based on the condition and market value, we will issue a refund accordingly into the same method of which the payment was made at the time of purchase.
       </p>
    
    <h4>Returns</h4>
    <p>
        If you request to return the item back after the 14 day period; we reserve the right to make an offer to you at the current market value and condition of the item based on our assessment.
    </p>
    
    
    
    <h4>Warranty</h4>
    <p>
        Our watches are covered by our 3 month Warranty cover.
        Should you find any issues with your watch i.e. faulty, damaged etc
        Get in contact with us at warranty@watchsmiths.co.uk and we'll walk you through the process
   </p>


</div>
{% endblock %}